html{font-size: 0.32rem;}
/* 首页 */
.indexBody{
	background:url('../image/back2.jpg') no-repeat;
	background-size: 100%;
	margin:0 4.5%;
}
#topLogo{
	display: -webkit-flex; /* Safari */
  	display: flex;
  	margin-top: 1.6rem;
}
#topLogo .items{
	display: -webkit-flex; 
	display: flex;
	flex-basis: 50%;
	align-items: center;
} 
#topLogo .items:nth-child(1) img{
	width: 98%;
}
#topLogo .items:nth-child(2){
	justify-content: flex-end;
}
#topLogo .items:nth-child(2) img{
	width: 70%;
}
#centerInput textarea{
	box-sizing: border-box;
	background: url('../image/input.png') no-repeat;
	background-size: 100%;
	width: 100%;
	height: 4rem;
	margin-top: 3.5rem;
	border: none;
	outline: none;
	font-size: 0.25rem;
	color: #908fb2;
	padding:0.8rem 0.5rem;
	text-overflow: hide;
}
#footButton{
	text-align: center;
	margin-top: 0.43rem;
}
#footButton img{width: 45%;}
#contain{
	display: -webkit-flex; /* Safari */
  	display: flex;
  	flex-direction: column;
  	-webkit-justify-content: center;
 	justify-content:center;
}
/* 抽奖页 */
.getBody{
	background: url(../image/award_bg.jpg) no-repeat;
	background-size: 100%;
}
#awardOpen{
	display: -webkit-flex; /* Safari */
 	display: flex;
 	-webkit-justify-content: center;
 	justify-content:center;
 	position: relative;
 	margin-top: 1.1rem;	
}
#awardOpen .openBg{
	flex-basis:86%;
	
}
#awardOpen .openBg img{
	width: 100%;
}
#awardOpen .name{
	position: absolute;
	top: 0.35rem;
	background: url(../image/award_title.png) no-repeat; 
	background-size: 100% 100%;
	padding: 0.2rem 0.6rem;
	font-size: 0.4rem;
	
}
#awardOpen .name h2{
	font-weight: bold;
	color: #f8ea01;
}
#awardOpen .imgDea{
	position: absolute;
	top: 2rem;
}
#awardOpen .imgDea img{
	width: 91%;
	margin:0 2% 0 3%;
}
#awardOpen .imgThing img{
	width: 63%;
	margin:18.5%;
}

	/* .awardOpen .awardFont{
		color: #f8ea01;
		font-weight: bold;
		position: absolute;
		top: 0.8rem;
		left: 
	} */