/* 弹性布局 */
	#flexPar{
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		-webkit-justify-content: center;
		align-items: flex-start;
		-webkit-align-items: flex-start;
		flex-direction: column;
		-webkit-flex-direction: column;
		height: 100%;
	}
	html,body{
		width: 100%;
		height: 100%;
/* 		background: url('image/backImg.jpg') no-repeat;
background-size: 100% 100%;	 */
	}	
/* 音乐 */
	#mp3Btn{
		position: relative;
	}
	.rotateClass{
		width: .6rem;
		height: .6rem; 
		position: absolute; 
		top: .4rem;
		right: .2rem;
	}
/* 蒙层 */
	.bodymeng{
			/* display: none; */
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			background: rgba(142,142,142,.3);
		}
	.showCon{
			position: absolute;
			top: 2rem;
			left: 0;
			/* display: none; */
			box-sizing: border-box;
			width: 100%;
			z-index: 11;
			text-align: center;
			font-size: 0.5rem;
		}
	.img{position: relative;width: 62%;margin: 0 19%;}
	.img .imgRed img{
		width: 100%;
		height: 5.5rem;
	}
	.img .closePage{
		position: absolute;
		top:.25rem;
		right: 8%;
		z-index: 15;
	}
	.img .closePage img{
		width: .15rem;
		height: .15rem;
	}
	.img .fontOpen{
		position: absolute;
		bottom: 2.35rem;
		left: 43%;
		z-index: 16;
	}
	.img .openPage img{width: 100%;}
	.img .fontOpen img{
		width: .55rem;
		height: .6rem;
	}
	.img .numMoney{
		position: absolute;
		left: 33%;
		top: 2.45rem;
		z-index: 12;
		color: #fddc75;
		font-weight: bold;
	}
	.img .getMoney{
		position: absolute;
		bottom: .15rem;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		z-index: 12;
	}
	.img .getMoney a{
		color: #fddc75;
		font-size: 0.25rem;
		font-family: '宋体 Regular';
	}
	.backAbtn button{
		font-size: 0.32rem;
		background-color: #d13d4b;
		padding:0.1rem 0.2rem;
		border-radius: 0.1rem;
		color: white;
		margin-top: 0.2rem;
	}
	/* 红包模块选择 */
	#cover{
		width: 100%;
		height: 100%;
		background-color:#9e1b4f;
	}
	.clearFloat::after{
		content: '';
		display: block;
		height: 0;
		clear: both;
	}
	.select div button{
		display: inline-block;
		background-color: #8e8b8b;
		color: white;
		font-size: .3rem;
		border-radius: 5px;
		padding: .15rem;	
		outline: none;
	}
	.select div{
		float: left;
		font-size: .25rem;
		text-align: center;
		width: 50%;
		color: white;
		box-sizing:border-box;
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */
	}
	.select div p{
		margin-top: 0.2rem;
	}
	.select div ul img{
		width: 80%;
		margin: .3rem 10%;
	}
	.redTop{padding-top: 1rem;}
	.redTop h5{
		font-size: .4rem;
		color: #ecc506;
		text-align: center;
	}
	.redLink{
		text-align: center;
	}
	.redLink a{
		font-size: .3rem;
		color: #f7ac38;
	}
	/* 模块选择 */
	#abtnCon{
		width: 100%;
		height: 100%;
		padding-top: 10%;
		display: flex;
		display: -webkit-flex;
		justify-content: space-around;
		-webkit-justify-content: space-around;
		background: url('../image/backImg.jpg') no-repeat;
		background-size: 100% 100%;	
	}
	#abtnCon .Tit{
		padding: 5px;
		border-radius: 5px;
	}
	#abtnCon .items button{
		background:url('../image/abtn.jpg') no-repeat;
		background-size: 100% 100%;
		color: white;
		font-size: .3rem;
		padding: 5px 10px;
	}
	#abtnCon .middle{
		width: 40%;
		font-size: .32rem;
		text-align: center;
		color: white;                                       
	}
	#abtnCon .middle img{width: 100%;margin-top: .3rem;}
	/* 连抽页面 */
	#listModule{
		width: 100%;
		height: 100%;
		background-color:#9e1b4f;
	}
	.topBack{height: 30%;margin-top: -0.5rem}	
	.topBack img{width: 100%;height: 100%}
	.deaTitle{
		color: #ffec01;
		font-size: .35rem;
		text-align: center;
		margin-bottom: .2rem;
	}
	.redDea{
		position: relative;
		background:url('../image/detailBg.png') no-repeat;
		background-size: 100% 100%;
		color: white;
		height: 35%;
		font-size: .25rem;
		line-height: .6rem;
		padding:.7rem .2rem .4rem .2rem;
		margin:.3rem .2rem;
	}
	.redDea ul{
		height: 100%;
		overflow-y:scroll;
	}
	.redDea .tipAbtn{
		position: absolute;
		top: -.1rem;
		left: 50%;
		width: 40%;
		margin-left: -20%;
		text-align: center;
		border-radius: 5px;
		background-color: #cecddd;
	}
	.abtnoPen {width: 100%;text-align: center;}
	.abtnoPen button{
		color: white;
		font-size: .3rem;
		border-radius: 5px;
		padding: 5px 8px;
	}
	.abtnoPen .againAbtn{
		background-color: #f8e451;
	}
	.abtnoPen .toBack{
		background-color: #fd9500;
	}